@if (form) {
  <mat-card class="container appointment-panel">
    <mat-card-title>{{ 'appointmentDetailFrom.title' | translate }}</mat-card-title>

    <form [formGroup]="appointmentForm">
      <mat-form-field appearance="outline" class="full">
        <mat-label>{{ 'appointmentDetailFrom.prefecture.label' | translate }}</mat-label>
        <mat-select
          formControlName="prefectureId"
          (selectionChange)="onPrefectureChange($event.value)"
        >
          @for (pref of prefectures; track pref.id) {
            <mat-option [value]="pref.id">
              {{ pref.name | translate }}
            </mat-option>
          }
        </mat-select>
        @if (appointmentForm.get('prefectureId')?.invalid) {
          <mat-error>
            {{ 'appointmentDetailFrom.prefecture.required' | translate }}
          </mat-error>
        }
      </mat-form-field>

      @if (appointmentForm.get('prefectureId')?.value) {

        <mat-form-field appearance="outline" class="full">
          <mat-label>{{ 'appointmentDetailFrom.location.label' | translate }}</mat-label>
          <mat-select
            placeholder="予約する時間帯"
            formControlName="locationId"
            (selectionChange)="onLocationChange($event.value)"
          >
            @for (group of groupedLocations; track group.date) {
              <mat-optgroup [label]="group.date || ''">
                @for (item of group.locations; track item.id) {
                  <mat-option [value]="item.id" class="location-option">
                    {{ item.venue }} - {{ item.name }} - {{ item.address }}
                  </mat-option>
                }
              </mat-optgroup>
            }
          </mat-select>
          @if (appointmentForm.get('locationId')?.invalid) {
            <mat-error>
              {{ 'appointmentDetailFrom.location.required' | translate }}
            </mat-error>
          }
        </mat-form-field>
      }

      @if (appointmentForm.get('locationId')?.value) {
        <div class="full time-slot-radio">
          <mat-label>{{ 'appointmentDetailFrom.timeSlot.label' | translate }}</mat-label>

          <mat-radio-group formControlName="timeSlotId" (change)="onTimeSlotChange()">
            @for (slot of currentTimeSlots; track slot.id) {
              <mat-radio-button class="full" [value]="slot.id">
                {{ slot.label | translate }}
              </mat-radio-button>
            }
          </mat-radio-group>
        </div>
      }

      @if (appointmentForm.valid && selectedPrefecture && selectedLocation && selectedTimeSlot) {
        <div class="summary-label">
          <p><strong>{{ 'appointmentDetailFrom.summary.time' | translate }}:</strong> {{ selectedTimeSlot.label | translate }}</p>
          <p><strong>{{ 'appointmentDetailFrom.summary.date' | translate }}:</strong> {{ selectedLocation.dayOfWeek }} {{ selectedLocation.date | date: 'yyyy年M月d日' }}</p>
          <p><strong>{{ 'appointmentDetailFrom.summary.venue' | translate }}:</strong> {{ selectedLocation.venue }} - {{ selectedLocation.name }}</p>
          <p><strong>{{ 'appointmentDetailFrom.summary.address' | translate }}:</strong> {{ selectedLocation.address }}</p>
        </div>
      }

    </form>
  </mat-card>
}
