@if (form) {
  <mat-card class="container appointment-panel">
    <mat-card-title>{{ 'appointmentDetailFrom.title' | translate }}</mat-card-title>

    <form [formGroup]="appointmentForm">
      <mat-form-field appearance="outline" class="full">
        <mat-label>{{ 'appointmentDetailFrom.prefecture.label' | translate }}</mat-label>
        <mat-select
          formControlName="prefectureId"
          (selectionChange)="onPrefectureChange($event.value)"
        >
          @for (pref of prefectures; track pref.id) {
            <mat-option [value]="pref.id">
              {{ pref.name | translate }}
            </mat-option>
          }
        </mat-select>
        @if (appointmentForm.get('prefectureId')?.invalid) {
          <mat-error>
            {{ 'appointmentDetailFrom.prefecture.required' | translate }}
          </mat-error>
        }
      </mat-form-field>

      @if (appointmentForm.get('prefectureId')?.value) {
        <div class="full time-slot-type-toggle">
          <mat-label>{{ 'appointmentDetailFrom.timeSlotType.label' | translate }}</mat-label>
          <mat-button-toggle-group (change)="onTimeSlotTypeChange($event.value)" [value]="timeSlotType" class="full button-toggle-group">
            <mat-button-toggle value="MORNING" class="button-toggle">{{ 'appointmentDetailFrom.timeSlotType.morning' | translate }}</mat-button-toggle>
            <mat-button-toggle value="AFTERNOON" class="button-toggle">{{ 'appointmentDetailFrom.timeSlotType.afternoon' | translate }}</mat-button-toggle>
            <mat-button-toggle value="ALLDAY" class="button-toggle">{{ 'appointmentDetailFrom.timeSlotType.allday' | translate }}</mat-button-toggle>
          </mat-button-toggle-group>
        </div>

        <mat-form-field appearance="outline" class="full">
          <mat-label>{{ 'appointmentDetailFrom.location.label' | translate }}</mat-label>
          <mat-select
            placeholder="Date - name - address"
            formControlName="locationId"
            (selectionChange)="onLocationChange($event.value)"
          >
            @for (group of groupedLocations; track group.date) {
              <mat-optgroup [label]="(group.date | date: 'yyyy-MM-dd')||''">
                @for (item of group.locations; track item.id) {
                  <mat-option [value]="item.id">
                    {{ item.name }} - {{ item.address }}
                  </mat-option>
                }
              </mat-optgroup>
            }
          </mat-select>
          @if (appointmentForm.get('locationId')?.invalid) {
            <mat-error>
              {{ 'appointmentDetailFrom.location.required' | translate }}
            </mat-error>
          }
        </mat-form-field>
      }

      @if (appointmentForm.get('locationId')?.value) {
        <div class="full time-slot-radio">
          <mat-label>{{ 'appointmentDetailFrom.timeSlot.label' | translate }}</mat-label>

          <mat-radio-group formControlName="timeSlotId" (change)="onTimeSlotChange()">
            @for (slot of currentTimeSlots; track slot.id) {
              <mat-radio-button class="full" [value]="slot.id">
                {{ slot.label | translate }}
              </mat-radio-button>
            }
          </mat-radio-group>
        </div>
      }

      @if (appointmentForm.valid && selectedPrefecture && selectedLocation && selectedTimeSlot) {
        <div class="summary-label">
          <p><strong>Time:</strong> {{ selectedTimeSlot.label | translate }}</p>
          <p><strong>Date:</strong> {{ selectedLocation.dayOfWeek }} {{ selectedLocation.date | date: 'yyyy-MM-dd' }}</p>
          <p><strong>Location:</strong> {{ selectedLocation.venue }}</p>
          <p><strong>Address:</strong> {{ selectedLocation.address }}</p>
          <p><strong>Prefecture:</strong> {{ selectedPrefecture.name }}</p>
          <p><strong>Phone:</strong> {{ selectedLocation.phone }}</p>
        </div>
      }

    </form>
  </mat-card>
}
