<mat-stepper headerPosition="top" linear #stepper>
  <mat-step [stepControl]="customerInfoForm">
    <ng-template matStepLabel>{{ 'customerForm.title' | translate }}</ng-template>
    <app-customer-info-form [form]="customerInfoForm" (onSubmit)="onSubmitCustomerInfo($event, stepper)"></app-customer-info-form>
  </mat-step>

  <mat-step [stepControl]="petInfoForms">
    <ng-template matStepLabel>{{ 'petForm.title' | translate }}</ng-template>

    <form [formGroup]="petInfoForms">
      <div formArrayName="pets">
        @for (pet of pets.controls; track i; let i = $index) {
          <div [formGroupName]="i">
            <div class="pet-step-grid">
              <!-- LEFT: Pet info -->
              <div class="left">
                <app-pet-info-form [form]="pet" [index]="i" (onRemove)="removePet(i)" />
              </div>

              <!-- RIGHT: Vaccine selection -->
              <div class="right">
                <app-vaccine-combo-form
                  [products]="comboProducts"
                  [selectedVaccine]="getPetControl(i, 'comboVaccine')"
                  [petSize]="getPetControl(i, 'size')"/>
                <app-vaccine-individual-form
                  [products]="singleProducts"
                  [selectedVaccine]="getPetFormGroup(i, 'individualVaccineSelection')"
                  [amountVaccine]="getPetFormGroup(i, 'individualVaccineAmount')"
                  [petSize]="getPetControl(i, 'size')"/>
              </div>
            </div>

            <mat-divider style="padding: 1rem"></mat-divider>

          </div>
        }
      </div>

    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>完了しました</ng-template>
    <app-register-success
      [registrationCode]="finalRegistrationCode"
      [appointmentDetails]="finalAppointmentDetails"
    />
  </mat-step>
</mat-stepper>

@if (stepper.selectedIndex === 1) {
  <div class="button-group">
    <div class="total-row">
      <span>Total: ¥{{ total | number }}</span>
    </div>
    <div class="actions-row">
      <button mat-raised-button color="accent" type="button" (click)="addPet()" class="add-pet-button">
        <mat-icon>add</mat-icon> {{ 'petForm.addPet' | translate }}
      </button>
      <button mat-raised-button [disabled]="customerInfoForm.invalid || petInfoForms.invalid" color="primary" type="submit" (click)="onSubmitPetInfo(stepper)" class="submit-all-button">
        <mat-icon>check</mat-icon> {{ 'petForm.submitAll' | translate }}
      </button>
    </div>
  </div>
}
