@if (registrationCode && appointmentDetails) {
  <div class="success-wrapper">
    <mat-card class="success-card mat-elevation-z3">

      <!-- CODE -->
      <mat-card-title class="code">
        <span>{{ 'registerSuccess.code' | translate }} <b>{{ registrationCode }}</b></span>
        <button mat-icon-button [cdkCopyToClipboard]="registrationCode" [attr.aria-label]="'registerSuccess.copyCode' | translate">
          <mat-icon>content_copy</mat-icon>
        </button>
      </mat-card-title>

      <!-- QR CODE -->
      <div class="qr">
        <qrcode
          [qrdata]="registrationCode"
          [width]="180">
        </qrcode>
      </div>


      <!-- INFO -->
      <mat-card-content class="info">
        <div><b>{{ 'registerSuccess.appointment' | translate }}</b></div>
        <div>{{ appointmentDetails }}</div>
      </mat-card-content>

      <!-- MESSAGE -->
      <mat-card-footer class="message">
        {{ 'registerSuccess.successMessage' | translate }}
      </mat-card-footer>

    </mat-card>
  </div>
} @else {
  <div class="success-wrapper">
    <mat-card class="success-card mat-elevation-z3">
      <mat-card-content>
        <p>{{ 'registerSuccess.processing' | translate }}</p>
      </mat-card-content>
    </mat-card>
  </div>
}
